PORT=3333
HOST='0.0.0.0'
NODE_ENV='development'
APP_KEY='MI3NFG3E6PyOOhlahC7_xuaH2gpVPo58'
DRIVE_DISK='local'
DB_CONNECTION='pg'
PG_HOST='<pg-db-host>'
PG_PORT='<pg-db-port>'
PG_USER='<pg-db-user>'
PG_PASSWORD='<pg-db-password>'
PG_DB_NAME='<pg-db-name>'
SMTP_HOST='<smtp-host>'
SMTP_PORT='<smtp-port>'
SMTP_USERNAME='<smtp-username>'
SMTP_PASSWORD='<smtp-password>'
SES_ACCESS_KEY='<aws-access-key>'
SES_ACCESS_SECRET='<aws-secret>'
SES_REGION='us-east-1'
CACHE_VIEWS=false
